{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/static-dev-ilgiallorosso/img/general/minilogo.png" />
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
{% block meta_seo %}
    <meta name="description" content="El mejor sitio de noticias del club AS Roma de habla hispana, f&uacute;tbol italiano y fichajes. Fanaticos de Francesco Totti, news, rumores, imagenes.">
    <meta name="keywords" content="As Roma, F&uacute;tbol Italiano, Fichajes, Noticias AS Roma, Totti, Partidos, Resultados">
    {% comment %}
    <link rel="canonical" href="http://www.noticiasroma.com/">
    {% endcomment %}
{% endblock %}
{% block link_next %}{% endblock%}
{% block link_prev %}{% endblock %}

{% block open_graph_tags %}
    <meta property="og:title" content="noticiasroma.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.noticiasroma.com/">
    <meta property="og:site_name" content="noticiasroma.com">
    <meta property="og:description" content="noticiasroma.com es el mejor sitio A.S. Roma de America Latina, F&uacute;tbol: AS Roma, Totti, Fichajes, Rumores, News, Calcio, Serie A Team, Cahmpions League">
{% endblock %}
{% block twitter_sumarycards_tags %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://twitter.com/NoticiASRoma">
    <meta name="twitter:creator" content="{{settings.TWITTER_USER}}">
    <meta name="twitter:title" content="noticasroma.com">
    <meta name="twitter:description" content="F&uacute;tbol: Noticias, Roma, Totti">
{% endblock %}
    <title>{% block title_page %}noticasroma.com {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/ilg-base.css" %}">
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/ilg-base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ilg-theme.css" %}">
    {% block css_links %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/cd7e47e6ca453df9e57a0c8a469e7ff0.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
    </script>      
</head>
<body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '165375850495698',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/es_LA/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72434900-1', 'auto');
      ga('send', 'pageview');

    </script>
    <div id="base-wrapper">
      <header class="header-site">
          <div class="header-content">
              <div id="hamburger">
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
              <div class="sitebar">
                  <div class="bar-logo">
                      {% comment %}<img src="/static/img/generals/logo.jpg"> {% endcomment %}
                      <a href="/"><p>NoticiASRoma.com</p></a>
                  </div>
              </div>
              <div class="nav">
                  <ul class="menu">
                      <li class="menu-element"><a href="/">Home</a></li>
                      <li class="menu-element"><a href="/category/serie-a-tim/">Serie A TIM</a></li>
                      <li class="menu-element"><a href="/category/champions-league/">Champions League</a></li>
                      <li class="menu-element"><a href="/category/copa-italia/">Copa Italiana</a></li>
                      <li class="menu-element last"><a href="/category/mercado-de-fichajes/">Mercado</a></li>
                      {% comment %} <li class="menu-element last"><a href="/category/luciano-spalletti/">Luciano Spalletti</a></li> {% endcomment %}
                  </ul>
              </div>
          </div>
      </header>
      <nav id="menu-principal">
        <div class="space"></div>
         <ul>
                  <li><a class="menu-nav-enlace-a" href="/">Home</a></li>
                  <li><a class="menu-nav-enlace-a" href="/category/serie-a-tim/">Serie A TIM</a></li>
                  <li><a class="menu-nav-enlace-a" href="/category/champions-league/">Champions League</a></li>
                  <li><a class="menu-nav-enlace-a" href="/category/mercado-de-fichajes/">Mercado Invernal</a></li>

                  <div class="menu-nav-separador"></div>
          </ul>
      </nav>
      <main class="content-site">
          <div class="border"></div>
          <div class="body-content">{% block content %}{% endblock %}</div>
      </main>
      <footer class="footer-site">
          <div class="footer-content"></div>
      </footer>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/abitgone/carousel/abitgone-carousel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gallery/lib/require/require-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/underscore/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/backbone/backbone-min.js" %}"></script>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));
    </script>
    <script>
             $(document).ready(function () { 
                var Nav = Backbone.View.extend({
                    el: $('body'),
                    elementos: {
                        nav: '#menu-principal',
                        header: '#header-site',
                        wrapper: '#base-wrapper',
                        rcol: '.col-300-sticky'
                    },
                    events: {
                        'click #hamburger': 'accionar',
                        'click .content-site': 'comprobar'
                    },
                    initialize: function(){
                       
                        $(this.elementos.rcol).css({
                            'position': 'fixed',
                            'left': ((($(window).width() - $('#base-section').width()) / 2) + 700).toString() + 'px'
                        });
                    },
                    render: function(){
                    },
                    oculto: true,
                    funcionando: false,
                    accionar: function(){
                        if(this.funcionando) return false;
                        if(this.oculto){
                            return this.mostrar();
                        }
                        else {
                            return this.ocultar();
                        }
                    },
                    mostrar: function(){
                        this.funcionando = true;
                        this.oculto = false;
                        $(this.elementos.nav).animate({
                            left: '0'
                        }, 250);
                        $(this.elementos.header).animate({
                            left: '350px'
                        }, 250);
                        $(this.elementos.wrapper).animate({
                            left: '350px'
                        }, 250);
                        $(this.elementos.rcol).animate({
                            left: (((($(window).width() - $('#base-section').width()) / 2) + 700) + 358.5).toString() + 'px'
                        }, 250);
                        $(this.el).css({'overflow-y': 'hidden'});
                        this.funcionando = false;
                    },
                    ocultar: function(){
                        this.funcionando = true;
                        this.oculto = true;
                        $(this.elementos.nav).animate({
                            left: '-350px'
                        }, 250);
                        $(this.elementos.header).animate({
                            left: '0'
                        }, 250);
                        $(this.elementos.wrapper).animate({
                            left: '0'
                        }, 250);
                        $(this.elementos.rcol).animate({
                            left: (((($(window).width() - $('.body-content').width()) / 2) + 700) - 8.5).toString() + 'px'
                        }, 250);
                        $(this.el).css({'overflow-y': 'visible'});
                        this.funcionando = false;
                    },
                    comprobar: function(){
                        if(this.oculto) return;
                        this.ocultar();
                    }
                });
                new Nav().render();
            });
    </script>
</body>
</html>