{% extends "desktop/base.html" %}
{% load static from staticfiles %}
{% load cache %}
{% block title_page %}Noticas Roma - Estadisticas y resultados de la Serie A 2015{% endblock %}
{% block css_links %}
{% comment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/ilg-home.css" %}">
{% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static "css/ilg-stats-desktop.css" %}">
{% endblock %}
{% block content %}
    <div class="banner banner_728">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 728x90_single_top -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8597849363536541"
             data-ad-slot="2985538119"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="banner banner_320x100_A">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 320x100_A -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-8597849363536541"
             data-ad-slot="4076188115"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "desktop/boxes/last_match.html" with match=fifa.get_last_match %}
    {% include "desktop/boxes/next_match.html" with match=fifa.get_next_mtach %}
    {% include "desktop/boxes/stats_s_a_tim.html" with is_isolated_stats=True %}

    <div class="banner banner_728">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 728x90_single -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8597849363536541"
             data-ad-slot="7555338514"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="banner banner_320x100_B">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 320x100_B -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:100px"
                     data-ad-client="ca-pub-8597849363536541"
                     data-ad-slot="5457019716"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </div>
{% endblock %}

{% block link_next %}
{% if page.has_next %}
    <link rel="next" href="http://www.noticiasroma.com/p/{{page.next_page_number}}/">
{% endif %}
{% endblock%}

{% block link_prev %}
{% if page.has_previous %}
    <link rel="next" href="http://www.noticiasroma.com/p/{{page.previous_page_number}}/">
{% endif %}   
{% endblock %}
