{% extends "desktop/v2/base.html" %}

{% block title_page %}
As Roma - Busqueda
{% endblock %}

{% block meta_seo %}
<meta name="description" content="Noticias Roma Busqueda">
<meta name="keywords" content="Noticias Roma, Busqueda">
{% endblock %}

{% block content %}
  <hr>
  <div class="row column">
    <h4 style="margin: 0;" class="text-center">{% if not page %}SIN RESULTADOS :({% else %}RESULTADOS EN {{text_search|upper}}{% endif %}</h4>
  </div>
  <hr>
  <div class="row">
    <div class="large-8 columns bright">
      <article>
        {% with oldie_entries=page %}
            {% include "desktop/v2/boxes/large_last_entries.html" %}
        {% endwith %}   
       {#  <ul class="pagination" role="navigation" aria-label="Pagination">
            {% if page.has_previous() %}
              <li>
              <a href="/category/{{category.slug}}/p/{{page.previous_page_number()}}/" aria-label="Next page">Anterior <span class="show-for-sr">page</span></a>
            {% else %}
              <li class="disabled">
               Anterior <span class="show-for-sr">page</span>
            {% endif %}
          </li>
          <li class="current"><span class="show-for-sr">You're on page</span> {{page.number}}</li>
          <li >
            {% if page.has_next() %}
              <li>
              <a href="/category/{{category.slug}}/p/{{page.next_page_number()}}/" aria-label="Next page">Siguiente <span class="show-for-sr">page</span></a></li>
            {% else %}
              <li class="disabled">
              Siguiente <span class="show-for-sr">page</span>
            {% endif %}
        </ul> #}
      </article>
    </div>
    <div class="large-4 columns">
      <aside>
        {% include "desktop/v2/boxes/social_links.html" %}
        {% with match=fifa.get_next_mtach()  %}
          {% include "desktop/v2/boxes/next_match.html" %}
        {% endwith %}
        {% include "desktop/v2/boxes/roma_tv.html" %}
        {% with match=fifa.get_last_match()  %}
          {% include "desktop/v2/boxes/last_match.html" %}
        {% endwith %}
        {% include "desktop/v2/boxes/facebook_box.html" %}
      </aside>
    </div>
  </div>
{% endblock %}
