<div class="entry article-box box-side stats-side-bar">
    <div class="title-box">Posiciones Serie A TIM</div>
    <div class="body-box">
        <table>
            <thead>
                <tr class="tblHeader">
                    <th class="marker"></th>
                    <th class="rnk noHover tbHeader"><acronym title="Posicion">Pos</acronym></th>
                    <th class="team noHover tbHeader"><acronym title="Equipo">Equipo</acronym></th>
                    <th class="mp tbHeader"><acronym title="Jugados">PJ</acronym></th>
                    {% if is_isolated_stats %}
                    <th class="noHover tbHeader wi mp"><acronym title="Ganados">G</acronym></th>
                    <th class="noHover tbHeader dr mp"><acronym title="Empates">E</acronym></th>
                    <th class="noHover tbHeader lo mp"><acronym title="Perdidos">P</acronym></th>
                    <th class="noHover tbHeader gf mp"><acronym title="Goles a Favor">GF</acronym></th>
                    <th class="noHover tbHeader ga mp"><acronym title="Goles en Contra">GC</acronym></th>
                    <th class="noHover tbHeader dg mp"><acronym title="Diferencia de Goles">+/-</acronym></th>
                    {% endif %}
                    <th class="pts tbHeader"><acronym title="Puntos">Pts</acronym></th>
                    <th title=" " class="diff noHover tbHeader"> </th>
                    </tr>
            </thead>
            <tbody>
                {% for team in fifa.get_stats.italy %}
                    <tr class="{% if team.uefa %}uefa{% endif %}{% if team.uefa_dependency %}uefa_dependency{% endif %}{% if team.champions %}champions{% endif %}{% if team.champions_preliminary %}champions_preliminary{% endif %}{% if team.relegation %}relegation{% endif %}{% if team.team == 'AS Roma' %} ilequipo{% endif %}">
                        <td class="marker">{{team.marker}}</td>
                        <td class="rnk">{{team.rnk}}</td>
                        <td class="team">{{team.team}}</td>
                        <td class="mp">{{team.mp}}</td>
                        {% if is_isolated_stats %}
                        <td class="wi mp">{{team.wi}}</td>
                        <td class="dr mp">{{team.dr}}</td>
                        <td class="lo mp">{{team.lo}}</td>
                        <td class="gf mp">{{team.gf}}</td>
                        <td class="ga mp">{{team.ga}}</td>
                        <td class="dg mp">{{team.dg}}</td>
                        {% endif %}
                        <td class="pts">{{team.pts}}</td>
                        <td class="diff">{{team.diff|safe}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>