{% load tz %}
<div class="nano-post">
    <a href="{{nano.get_absolute_url}}" class="pic-article">
        {% if nano.photo %}
            <img src="{{nano.photo.url}}" title="{{nano.title}}" alt="{{nano.about}}">
        {% endif %}
        <div class="about">{{nano.about|truncatewords:15}}</div>
    </a>
    <div class="body-article">
        <span class="tags">{{nano.get_top_tags_string}}</span>
        <h2 class="title-entry">{{nano.title}}</h2>
        {% localtime on %} 
        <span class="time">{{nano.date}}</span>
        {% endlocaltime %}
    </div>
</div>