{% extends "desktop/base.html" %}
{% load static from staticfiles %}
{% block title_page %}
ilGialloroso - {{category.name}}{% if page.number > 1 %} - Pagina {{page.number}} de {{page.paginator.num_pages}}  {% endif %}
{% endblock %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static "css/ilg-home.css" %}">
{% endblock %}

{% block content %}
    <div class="title-category">
        <h1>{{category.name}}</h1>
    </div>
    <div class="top-entries">
        {% for post in page_top_post %}
            {% if forloop.counter == 1 %}
                {% include "desktop/blog/includes/big_home_post.html" %}
            {% else %}
                {% include "desktop/blog/includes/mini_home_post_top.html" with mini=post %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="banner 728">
        <img src="/static/img/banners/banner_b.png">
    </div>

    <div class="second-content">
        <div class="side-bar">
            <div class="entry article-box banner" >
                <img src="/static/img/banners/banner.png">
            </div>
            {% include "desktop/boxes/stats_s_a_tim.html" %}
            {% include "desktop/boxes/next_match.html" with match=fifa.get_next_mtach %}
            {% include "desktop/boxes/last_match.html" with match=fifa.get_last_match %}
        </div>
        <div class="oldie-entries">
            {% for mini in page.object_list %}
                {% if forloop.counter > 3 %}
                    {% include "desktop/blog/includes/mini_home_post_footer.html" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}