{% extends "desktop/base.html" %}s
{% load static from staticfiles %}


{% block title_page %}{{post.title}} {% endblock %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/ilg-single.css" %}">
{% endblock %}

{% block content %}
    <div class="banner 728">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 728x90_single_top -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8597849363536541"
             data-ad-slot="2985538119"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="entry article-box big">
        <a href="" class="pic-article">
            {% if post.photo %}
                <img src="{{post.photo.url}}">
            {% endif %}
            <div class="about">{{post.about}}.</div>
        </a>
        <div class="body-article">
            <span class="tags">{{post.get_top_tags}}</span>
            <h2 class="title-entry">{{post.title}}</h2>
            <span class="time">{{post.date|timesince}}</span>
        </div>
        <div class="content-article">
            {{post.text|safe}}
        </div>
    </div>
    <div class="banner 728">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 728x90_single -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8597849363536541"
             data-ad-slot="7555338514"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="side-bar">
        {% include "desktop/boxes/stats_s_a_tim.html" %}
        
        <div class="entry article-box banner" >
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 300x250_A -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:250px"
                 data-ad-client="ca-pub-8597849363536541"
                 data-ad-slot="7415737718"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="more-info">
        {% include "desktop/boxes/next_match.html" with match=fifa.get_next_mtach %}
        <div class="entry article-box more-posts">
            <div class="title-box">Ultimas Noticias</div>
            <div class="body-box">
                {% for nano in post.get_related_entries  %}
                    {% include "desktop/blog/includes/nano_post.html" %}
                {% endfor %}
            </div>
        </div>
        {% include "desktop/boxes/last_match.html" with match=fifa.get_last_match %}
{% endblock %}