{% extends "desktop/base.html" %}

{% block title_page %}{{post.title}} {% endblock %}

{% block content %}
    <div class="entry article-box big">
        <a href="" class="pic-article">
            {% if post.photo %}
                <img src="{{post.photo.url}}">
            {% endif %}
            <div class="about">{{post.about}}.</div>
        </a>
        <div class="body-article">
            <span class="tags">{{post.get_top_tags}}</span>
            <h2 class="title-entry">{{post.title}}</h2>
            <span class="time">{{post.date|timesince}}</span>
        </div>
        <div class="content-article">
            {{post.text}}
        </div>
    </div>
    <div class="side-bar">
        <div class="entry article-box banner" >
            <img src="/static/img/banners/banner.png">
        </div>
        {% include "desktop/boxes/stats_s_a_tim.html" %}
        {% include "desktop/boxes/next_match.html" with match=fifa.get_next_mtach %}
        {% include "desktop/boxes/last_match.html" with match=fifa.get_last_match %}
    </div>
{% endblock %}